@tailwind base;
@tailwind components;
@tailwind utilities;

#root { 
    background-color: hsl(212, 16%, 78%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-container {
    overflow: hidden /*garante que a imagem não ultrapasse do tamanho da div */;
}